*{
    box-sizing: border-box;
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
}

a{
    text-decoration: none;
}

.content{
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#navbar{
    background-image: url("img/event.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
}

.navbar-nav li{
    float: left;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar-nav li a{
    color: #ffffff;
    display: inline;
    padding-top: 20px;
}



